.container{
    padding-top: 200px;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}

.container.col-md-6.offset-md-3.form{
    float:right;
    direction: rtl;
}
.form{
    direction: rtl;
        border-radius: 15px;
        background-color: #f2f2f2;
        padding: 30px;
        margin-top: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
span{
    float:right;
    direction: rtl; 
}
button#add{
    margin-top: 15px;
    color: rgb(136, 136, 231);
    font-size: 30px;
}
button#remove{
    margin-top: 15px;
    color: rgb(136, 136, 231);
    font-size: 30px;
}