<div class="container">
    <div class="content">
        <div class="header col-md-12" style="width: 100%;">
            <h3 style="float: right;padding-top: 30px;padding-right: 20px;">:محصولات شما</h3>
        </div>
        <br>
        <div dir="rtl" class="col-md-12" *ngIf="showmessage" style="text-align: right;padding-top: 40px;  ">
            <br>
            <h4>{{message}}</h4>
        </div>
        <div dir="rtl" id="products" class="row col-md-12" *ngIf="!showmessage">
            <div class="col-md-6 col-sm-6" *ngFor="let item of products">
                <div dir="rtl" class="card border-primary">
                    <div style="text-align: right;" class="card-header bg-primary text-light">
                        <h5 class="card-title">نام محصول: {{item.title}}</h5>
                    </div>
                    <div style="text-align: right;" class="card-body">
                        <span class="card-text"> پکیج {{item.number}}تایی</span>
                        <br>
                        <span class="card-text">قیمت:{{item.price}}</span>
                        <br>
                    </div>
                    <div style="text-align: left;" class="card-footer bg-light">
                        <button type="button" class="btn btn-danger" (click)="delete(item.id)"><svg width="1em"
                                height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>حذف از سبد خرید
                        </button>

                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: right;padding-right: 40px;  ">
            <br>
            <h4>مبلغ قابل پرداخت {{totalprice}}</h4>
        </div>
        <div>
            <br>
            <button type="button" class="btn btn-success btn-block" (click)="bank(totalprice)"> پرداخت</button>

        </div>
    </div>
</div>