.header{
    width: 100%;
    height: 300px;
    background-image: url('../../assets/img/1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
}
.container.content{
    direction: rtl;
    float:right;
}
#search{
    float: right;
    margin-top:150px;
    margin-right: 50%;
    
}
.row{
    direction: rtl;
    float:right;    
}
.content{
    margin-top: 50px;
    height: 500px;
    border-radius: 5%;
    
}
h4{
    padding-top: 20px;
    padding-right: 20px;
}
#btn{
    margin-top: 20px; 
    
}
.add{
   padding-top: 100px;
}
a{
    color: black;
}
.user{
    float: right;
    direction: rtl;
    text-align: right;
    font-size: larger;
}