<div class="header">
    <div class="col-md-4 offset-md-4" id="search">
        <form #f="ngForm" (ngSubmit)="onSelect(f)">
            <div dir="rtl" class="input-group">
                <input type="text" class="form-control" placeholder="Search" ngModel required name="name">
                <button class="btn btn-default btn-light" type="submit">
                    جست و جو
                </button>

            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="content col-md-10 offset-md-1">
        <div class="row col-md-12">
            <div class="col-md-3">
                <h4>{{name}}</h4>
            </div>
            <div class="col-md-1">
                <button id="btn" type="button" (click)="edituser(id)" class="btn btn-outline-warning">ویرایش</button>

            </div>
            <div class="col-md-1">
                <button id="btn" type="button" class="btn btn-outline-dark"><a
                        [routerLink]="['/logout']">خروج</a></button>

            </div>
            <br>
        </div>
        <div class="user col-md-12">
            <hr>
            <ul style="list-style-type:none" *ngFor="let contact of contacts">
                <li style="cursor: pointer;">{{contact.name}}<br>
                    <div class="row col-md-12">
                        <div *ngIf="addadmin && contact.scope!=1" class="col-md-1">
                            <button type="button" class="btn btn-outline-dark"
                                (click)="admin(contact.id)">ادمین</button>
                        </div>
                        <div *ngIf="remove" class="col-md-1">
                            <button type="button" class="btn btn-outline-danger"
                                (click)="deleteuser(contact.id)">حذف</button>
                        </div>
                        <div *ngIf="updateuser" class="col-md-1">
                            <button type="button" class="btn btn-outline-warning"
                                (click)="edituser(contact.id)">ویرایش</button>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-outline-dark"
                                (click)="details(contact.name)">جزئیات</button>
                        </div>
                    </div>
                </li>
                <br>
            </ul>
        </div>
        <div class="add" class="col-md-6" *ngIf="addmode">
            <button type="button" id="add" class="btn btn-outline-dark btn-lg"><a [routerLink]="['/signupform']">افزودن
                    مخاطب</a></button>

        </div>
    </div>

</div>