
.header{
    direction: rtl;
}
.content{
    background-image: url('../../assets/img/3.jpg');
    padding-right: 40px;
    padding-left: 40px;
    text-align: right;
}

#products{
    padding-top: 40px;  
}
a{
    color: white;
}
a:hover{
    color: white;
}